name: CI

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  swiftlint:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: GitHub Action for SwiftLint with --strict
        uses: norio-nomura/action-swiftlint@9f4dcd7fd46b4e75d7935cf2f4df406d5cae3684 # 3.2.1
        with:
          args: --strict

  swiftformat:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Show Swift version
        run: swift --version

      - name: Run swift-format
        run: |
          swift format lint --parallel --recursive --strict $(find . -maxdepth 1 -type d -name 'HeaveWindow*' ! -name '*.xcodeproj')

  build:
    needs: [swiftlint, swiftformat]
    runs-on: macos-26
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set Xcode version
        run: sudo xcode-select -s "/Applications/Xcode_26.2.app/Contents/Developer"

      - name: Show Xcode version
        run: |
          xcodebuild -version

      - uses: irgaly/xcode-cache@4141f139f00e335c6e1031fb93e667181f86146f # v1.9.2
        with:
          key: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-
          swiftpm-cache-key: xcode-cache-sourcepackages-${{ github.job }}-${{ github.workflow }}-${{ github.sha }}
          swiftpm-cache-restore-keys: xcode-cache-sourcepackages-${{ github.job }}-${{ github.workflow }}-

      - name: Build
        run: |
          xcodebuild -scheme HeaveWindow -configuration Release -archivePath ./build/HeaveWindow.xcarchive

